 
  li a {
    display: block;
    padding: 8px;
    background-color: lightseagreen;
  }

  .navbar {
    overflow:hidden;
    background-color: #f5b9a7;
    position:fixed;
    top: 0;
    width: 100%;
  }

  body {
    margin: 20px;
    text-align: center;
    background-color:rebeccapurple
}
h1 {
    color:lightskyblue;
} 

h2{
  color:violet;
  
}
img {
    float: left; 
   }


p {
 
  height:170px;
  margin-right:150px;
  padding:0%;
  text-align:center;
  
}
h3{
  text-align:left;
  color:rosybrown;
}